{{yield}}
<div data-test-base-component>
  <div local-class="base-container">
    <ExpenseList @addExpense={{this.addExpense}} @expenses={{this.expenses}} @deleteExpense={{this.deleteExpense}}
      @users={{this.users}} @updateUser={{this.updateUser}} />
    <UserList @addUser={{this.addUser}} @users={{this.users}} />
  </div>
  <TalliedResults @users={{this.users}} @totalExpense={{this.totalExpense}} />
</div>