{{yield}}
<div>
  <h2>Expenses</h2>
  <input name="event" type="text" value={{this.event}} oninput={{this.handleChange}} placeholder="Event" />
  <input name="cost" type="number" value={{this.cost}} oninput={{this.handleChange}} placeholder="Cost" />
  <button onclick={{this.handleAdd}}>Add Event</button>
  <div>
    {{#each @expenses as |exp|}}
    <ExpenseItem @name={{exp.name}} @cost={{exp.cost}} />
    {{/each}}
  </div>
</div>