{{yield}}
<div>
  <h2>Splitters</h2>
  <input value={{this.currentUser}} oninput={{this.handleChange}} placeholder="Name" />
  <button onclick={{this.handleAdd}}>Add User</button>
  <div>
    {{#each @users as |user|}}
    <UserItem @name={{user.name}} />
    {{/each}}
  </div>
</div>