{{yield}}
<div data-test-user-list-component>
  <h2>Splitters</h2>
  <input value={{this.currentUser}} oninput={{this.handleChange}} placeholder="Name" data-test-user-input />
  <button local-class="add-user-btn" onclick={{this.handleAdd}} data-test-add-user-btn>Add User</button>
  <ul local-class="user-list-container" data-test-user-list>
    {{#each @users as |user|}}
    <li local-class="user-item" data-test-user-item>
      <span>{{user.name}}</span>
    </li>s
    {{/each}}
  </ul>
</div>